<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-5">
            <h1>Inicio Sesión</h1>
            <p [routerLink]="['/registro']">¿No tienes cuenta?</p>
            <form [formGroup]="formulario" (ngSubmit)="validacion()" novalidate>
                <div>
                    <label for="correo" class="form-label">Correo</label>
                    <input id="correo" class="form-control" type="text" formControlName="correo">
                    <div *ngIf="(!validarCorreoIngresadoArtista() && validarIngreso()) || (!validarCorreoIngresadoAdmin() && validarIngreso())" class="alert alert-danger"> 
                            Correo invalido
                    </div>
                </div>
                <div>
                    <label for="contrasena" class="form-label">Contraseña</label>
                    <input id="contrasena" class="form-control" type="password" formControlName="contrasena" >
                    <div *ngIf="flagContrasenaGeneral == false || (!validarCorreoIngresadoArtista() || !validarCorreoIngresadoAdmin()) " class="alert alert-danger"> 
                        Contraseña incorrecta
                    </div>
                </div>
                <div>
                    <label >Tipo de cuenta</label>
                    <div class="from-check">
                        <input type="radio" class="form-check-input cuenta" name="cuenta" id="Admin" value="Admin" formControlName="cuenta">
                        <label for="Admin" class="form-check-label cuenta">Admin</label>
                    </div>
                   
                    <div class="from-check">
                        <input type="radio" class="form-check-input cuenta" name="cuenta" id="Artista" value="Artista" formControlName="cuenta">
                        <label for="Artista" class="form-check-label cuenta">Artista</label>
                    </div> 
                            
                    <div *ngIf="formulario.controls['cuenta'].hasError('required')"> <!--hasError determina el tipo de error-->
                        Elija una opcion
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" [disabled]="!formulario.valid" (click)="verificarSiPuedeIrARuta()">Ingresar</button> <!--!Formulario.valid indica si el formulario esta correcto, viene incorrecto lo que con ! pasa a correcto-->
                 </div>
            </form>
        </div>
    </div>
</div>
