
<div *ngIf="flag == true">
    <div class="container-fluid" id="contenedorDePerfil">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div id="contenedorDeTitulo">
                    <h1>Galeria</h1>
                </div>
                
                <div id="contenedorImagen">
                    <span class="material-icons" (click)="modificarImagen()">edit</span>
                    <input id="fotoDePerfil" (change)="capturarImagenPerfil($event)"  type="file" data-show-preview="false" accept="image/png, image/jpeg" style="display: none;" >
                    <img [src]="artistaActual.fotoDePerfilULR " alt="" id="imagen">
                    
                </div>
    
                <div id="contenedorBotones">
                    <button id="botonEditarPerfil" type="button" (click)="llevarAEdicion()">Editar tu perfil</button>
                    <button id="botonAgregarObra" type="button" (click)="open(content)">Agregar obras</button>
                </div>
    
                <div id="contenedorDatosPersonales">
                    <p>{{artistaActual.nombreReal}}</p>
                    <p>{{artistaActual.nombreArtista}}</p>
                    <p>{{artistaActual.correo}}</p>
                    <p>{{artistaActual.nacionalidad}}</p>
                </div>
            </div>
            <div class="col-md-7 col-sm-4" id="contenedorDeObras" *ngIf="hayObras == true"> <!--Esto debe ser un ngif-->
               <!--dentro debe de tener un ngfor qu recorra el arreglo de obras-->
                <div>
                    <label for="estilo">Estilo</label>
                    <select (change)="elegirOpcion($event)" aria-label="Default select example" id="estilo">
                        <option value="" disabled selected>Select</option>
                        <option value="2">2x2</option>
                        <option value="3">3x3</option>
                        <option value="4">4x4</option>
                    </select>
                </div>
    
                <div class="container-fluid">
                    <div class="row obras" *ngIf="opcionDeDispocicionSeleccionada == 2">
                        <div class="col-md-6 col-sm-6" *ngFor="let item of almacenadorDeImagenes; let i = index">
                            <div class="contendoreObras">
                                <img src="{{item.url}}" alt="{{obras[i].nombre}}" class="obras2">
                                    <div class="overlay">
                                        <p class="descripcionObra">
                                            {{obras[i].descripcion}}
                                            
                                        </p>
                                    </div>
                                    <div class="contendorDeNombre">
                                        <p class="nombreObras">{{obras[i].nombre}}</p>
                                        <button type="button" class="btn btn-outline-success" (click)="eliminarObra(obras[i].id, obras[i].nombre)" id="botonEliminarObra">Eliminar</button>
                                        <button type="button" class="btn btn-outline-success" (click)="open(contentEditar);llenarForm(obras[i])" id="botonEditarObraObra">Editar</button>
                                    </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="row obras" *ngIf="opcionDeDispocicionSeleccionada == 3">
                        <div class="col-md-4 col-sm-6" *ngFor="let item of almacenadorDeImagenes; let i = index">
                            <div class="contendoreObras">
                                <img src="{{item.url}}" alt="" class="obras3">
                                    <div class="overlay">
                                        <p class="descripcionObra">
                                            {{obras[i].descripcion}}
                                        </p>
                                    </div>
                                    <div class="contendorDeNombre">
                                        <p class="nombreObras">{{obras[i].nombre}}</p>
                                    </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="row obras" *ngIf="opcionDeDispocicionSeleccionada == 4">
                        <div class="col-md-3 col-sm-6" *ngFor="let item of almacenadorDeImagenes; let i = index">
                            <div class="contendoreObras">
                                <img src="{{item.url}}" alt="" class="obras4">
                                    <div class="overlay">
                                        <p class="descripcionObra">
                                            {{obras[i].descripcion}}
                                        </p>
                                    </div>
                                    <div class="contendorDeNombre">
                                        <p class="nombreObras">{{obras[i].nombre}}</p>
                                    </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">New Friend</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formulario" (ngSubmit)="agregarImagen()" novalidate id="formularioAgregarObra">
                <div class="form-group">
                    <label for="nombreObra">Nombre obra</label>
                    <div class="input-group">
                        <input id="nombreObra" class="form-control" type="text" formControlName="nombreObra">
                        <div *ngIf="formulario.controls['nombreObra'].invalid && (formulario.controls['nombreObra'].dirty || formulario.controls['nombreObra'].touched)" class="alert alert-danger"> <!--control se refiere a los controles de cada input-->
                            <!--dirty indica que el ususario modifico el valor, touch indica que lo toco pero no modifico-->
                                <div *ngIf="formulario.controls['nombreObra'].hasError('required')"> <!--hasError determina el tipo de error-->
                                    Nombre de la obra requerido
                                </div>
                        </div>
                        <div *ngIf="validacionNombreObra()" class="alert alert-danger" > 
                            Nombre Obra requerido ya en uso
                        </div>
                    </div>
    
                    <label for="descripcionObra">Descripcion obra</label>
                    <div class="input-group">
                        <input id="descripcionObra" class="form-control" type="text" formControlName="descripcionObra">
                        <div *ngIf="formulario.controls['descripcionObra'].invalid && (formulario.controls['descripcionObra'].dirty || formulario.controls['descripcionObra'].touched)" class="alert alert-danger"> <!--control se refiere a los controles de cada input-->
                            <!--dirty indica que el ususario modifico el valor, touch indica que lo toco pero no modifico-->
                                <div *ngIf="formulario.controls['descripcionObra'].hasError('required')"> <!--hasError determina el tipo de error-->
                                    Descripcion de la obra requerida
                                </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input id="obras" class="form-control" formControlName="obras" (change)="capturarImagen($event)"  type="file" data-show-preview="false" accept="image/png, image/jpeg" >
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" [disabled]="!formulario.valid" (click)="modal.close('Save click')">Agregar imagen</button>
                </div>
                
            </form>
        </div>
    </ng-template>

    <ng-template #contentEditar let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">New Friend</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formularioEditarObra" (ngSubmit)="editarObra()" novalidate id="formularioEditarObra">
                <div class="form-group">
                    <label for="nombreObraEditar">Nombre obra</label>
                    <div class="input-group">
                        <input id="nombreObraEditar" class="form-control" type="text" formControlName="nombreObraEditar">
                        <div *ngIf="formularioEditarObra.controls['nombreObraEditar'].invalid && (formularioEditarObra.controls['nombreObraEditar'].dirty || formularioEditarObra.controls['nombreObraEditar'].touched)" class="alert alert-danger"> <!--control se refiere a los controles de cada input-->
                            <!--dirty indica que el ususario modifico el valor, touch indica que lo toco pero no modifico-->
                                <div *ngIf="formularioEditarObra.controls['nombreObraEditar'].hasError('required')"> <!--hasError determina el tipo de error-->
                                    Nombre de la obra requerido
                                </div>
                        </div>
                        <div *ngIf="validacionNombreObraEditar()" class="alert alert-danger" > 
                            Nombre Obra requerido ya en uso
                        </div>
                    </div>
    
                    <label for="descripcionObraEditar">Descripcion obra</label>
                    <div class="input-group">
                        <input id="descripcionObraEditar" class="form-control" type="text" formControlName="descripcionObraEditar">
                        <div *ngIf="formularioEditarObra.controls['descripcionObraEditar'].invalid && (formularioEditarObra.controls['descripcionObraEditar'].dirty || formularioEditarObra.controls['descripcionObraEditar'].touched)" class="alert alert-danger"> <!--control se refiere a los controles de cada input-->
                            <!--dirty indica que el ususario modifico el valor, touch indica que lo toco pero no modifico-->
                                <div *ngIf="formularioEditarObra.controls['descripcionObraEditar'].hasError('required')"> <!--hasError determina el tipo de error-->
                                    Descripcion de la obra requerida
                                </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input id="obrasEditar" class="form-control" formControlName="obrasEditar" (change)="capturarImagen($event)"  type="file" data-show-preview="false" accept="image/png, image/jpeg" >
                        <img [src]="imagenMostrar" alt="">
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" [disabled]="!formularioEditarObra.valid" (click)="modal.close('Save click')">Agregar imagen</button>
                </div>
                
            </form>
        </div>
    </ng-template>
</div>



 