<nav class="nav nav-expand-lg nav-dark bg-dark">
    <div class="container-fluid">
      <div class="bd-example" id="navbarColor01">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/inicio']" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/inicio']" (click)="scroll('artistas')">Artist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/inicio']" (click)="scroll('contendorNoticia')" >News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/inicio']" (click)="scroll('team')">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >About</a>
          </li>
          <li class="nav-item registroLogin">
            <a class="nav-link" href="#" [routerLink]="['/login']" >Sign up</a>
          </li>
          <li class="nav-item registroLogin">
            <a class="nav-link" href="#" [routerLink]="['/registro']">Register</a>
          </li>
        </ul>
      </div>
    </div>
</nav>



  
